<h1>Push notifications with HTML5</h1>
<div class="row mb-2">
  <div class="col-12 col-md-4 offset-md-4">
    <p>
      We are using <a target="_blank" href="https://github.com/silveridea/ngx-push-notifications">ngx-push-notifications</a>
      library which is using standard HTML5 <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/API/Notification">notifications</a>.
      <br/>
      Notification can display an icon, title and content and some more details (see example in code).
      <br/>
      It works in most browsers, but only on a computer, not an Android or IOS.
    </p>
  </div>
</div>
<div class="row mb-2">
  <div class="col-12 col-md-4 offset-md-4 text-center">
    <button class="btn btn-primary btn-lg" (click)="onNotif()"><i class="fa fa-commenting-o"></i> Simulate incoming notification</button>
  </div>
</div>
