<h1>PWA Demo</h1>
<div class="row mt-5">
  <div class="col-12 col-md-4 offset-md-4">
    <p>This is a demo of a Progressive Web App capabilities. Please remember that most functions are
      still experimental and may not work certain devices and browsers.
      <br/>
      Get the source code <a target="_blank" href="https://github.com/silveridea/pwa-features">https://github.com/silveridea/pwa-features</a></p>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12 col-md-4 offset-md-4">
    <div class="list-group">
      <a routerLink="/camerahard" routerLinkActive="active" class="list-group-item list-group-item-action">
        <i class="fa fa-camera"></i> Camera hardware
      </a>
      <a routerLink="/camerasoft" routerLinkActive="active" class="list-group-item list-group-item-action">
        <i class="fa fa-picture-o"></i> Camera software
      </a>
      <a routerLink="/pushhtml5" routerLinkActive="active" class="list-group-item list-group-item-action">
        <i class="fa fa-comment-o"></i> Push notifications HTML5
      </a>
      <a routerLink="/pushworker" routerLinkActive="active" class="list-group-item list-group-item-action">
        <i class="fa fa-comment"></i> Push notifications with Service Worker
      </a>
      <a routerLink="/motion" routerLinkActive="active" class="list-group-item list-group-item-action">
        <i class="fa fa-hand-paper-o"></i> Motion
      </a>
      <a routerLink="/gyro" routerLinkActive="active" class="list-group-item list-group-item-action">
        <i class="fa fa-compass"></i> Orientation
      </a>
    </div>
    <p>More features coming soon</p>
  </div>
</div>
